
#cart-container {
  margin-top: 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

#purchase {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  margin: 5px;
  width: 100px;
  height: 100px;
}
