
<div id="cart-container">
  <table mat-table [dataSource]="cart">
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>
        Image
      </th>
      <td mat-cell *matCellDef="let item">
        <a routerLink="/mobile/{{item.modelName}}">
          <img src="/assets/images/{{item.mobile[0].picture}}" alt="{{item.modelName}}"/>
        </a>
      </td>
      <td mat-footer-cell *matFooterCellDef>

      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        Name
      </th>
      <td mat-cell *matCellDef="let item">
        <a routerLink="/mobile/{{item.modelName}}">
          {{item.mobile[0].name}}
        </a>
      </td>
      <td mat-footer-cell *matFooterCellDef>

      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>
        Price
      </th>
      <td mat-cell *matCellDef="let item">
        {{item.mobile[0].price}} Ft
      </td>
      <td mat-footer-cell *matFooterCellDef>
        {{priceSum}} Ft
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>
        Quantity
      </th>
      <td mat-cell *matCellDef="let item">
        {{item.quantity}}
      </td>
      <td mat-footer-cell *matFooterCellDef>
        {{quantitySum}}
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>
        Delete
      </th>
      <td mat-cell *matCellDef="let item">
        <button mat-fab type="button" (click)="removeCartItem(item)">
          <mat-icon fontIcon="delete"></mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
    <tr mat-footer-row *matFooterRowDef="columns"></tr>
  </table>

  <div id="purchase">
    <button mat-raised-button color="primary" type="button" (click)="purchase()">
      Purchase
    </button>
  </div>
</div>
